{% extends 'base.html' %}
{%block start%}
   <h1>this is index page</h1>

    <a href='/contact/'>contact</a>
    <a href='/about/'>about</a>
    
    <table class="table">

        <tr>
            <th scope="col">S no</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Can Vote</th>
        </tr>
        {% for people in p%}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td {%if people.age < 18 %} style="background:red" {%else%} style="background:lightgreen" {% endif %}>
                {% if people.age >= 18 %}
                yes
                {% else %}
                no
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% comment %} {{p}} {% endcomment %}
    <!-- <a href="">hello to home</a> -->
    <!-- <script>
        console.log("hello django")
        </script> -->
    <!-- {{text|truncatechars:80}} -->
    {{text}}

    <p style = "text-align:center">
        {% comment %} {{veg[0]}} {% endcomment %}
    {% if 'cucumber' in veg %} yes  {%else%} no its not in {{veg}} {%endif%}
    </p>
{%endblock%}