{% extends 'base.html' %}
{%block start%}
<!-- col-6 mx-auto card p-3 shadow-lg -->
   <div class="container mt-5">
    <form class="card p-3 col-12" method="post" enctype="multipart/form-data">
      {%csrf_token%}
      <h2 style="text-align: center;">Upload pdf</h2>
      <hr> 
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Pdf doc</label>
          <input name = "receipe_image" type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
   {%endblock%}